Adding two numbers

In [2]:
#two integers
1 + 5

6

In [3]:
# two floats
1.7 + 5.6

7.3

In [4]:
#one integer, one float
1.8 + 6

7.8

Substract two numbers

**H/W**

In [11]:
6 - 4

2

In [12]:
4.8 - 3.6

1.1999999999999997

In [4]:
8 - 4.4

3.5999999999999996

In [6]:
5.8 - 3

2.8

Divide two numbers

In [5]:
#real division
2 / 3

0.6666666666666666

In [15]:
17 / 3

5.666666666666667

In [7]:
#integer division
2 // 3

0

In [16]:
17 // 3

5

In [8]:
2.3 // 3

0.0

In [9]:
2.3 / 3

0.7666666666666666

In [10]:
2.3 // 3.1

0.0

remainder / modulo

In [13]:
5 / 2

2.5

In [14]:
5 % 2

1

In [15]:
#even value
4 % 2 ==0

True

multiplication

In [16]:
2 * 3

6

In [17]:
2.5 * 5

12.5

power

In [18]:
#square if 3
3 ** 2

9

In [19]:
#power if three
3 ** 3

27

Boolean

In [20]:
True

True

In [21]:
False

False

complex number

In [22]:
2 + 7j

(2+7j)

In [23]:
1 + 5j + 6 + 8j

(7+13j)

In [26]:
(1 + 5j) + (6 + 8j)

(7+13j)

In [27]:
(1 + 5j) - (6 + 8j)

(-5-3j)

Strings

In [30]:
#single line string
'This is simple String'

'This is simple String'

In [31]:
"This is another String"

'This is another String'

In [7]:
#multi line string
"""This is multiline
 string with spaces.
 """

'This is multiline\n string with spaces.\n '

In [8]:
'''this is same as double-quote triple
 quote string.
 '''

'this is same as double-quote triple\n quote string.\n '

Concatination

In [39]:
' a string ' + 'added together'

' a string added together'

Repetition

In [41]:
'hello world, ' * 3

'hello world, hello world, hello world, '

In [42]:
'hello world, ' * 3.2

TypeError: can't multiply sequence by non-int of type 'float'

**H/W** Use other operators with string

In [44]:
'hello world, ' + 3

TypeError: Can't convert 'int' object to str implicitly

Simple Problems
+ http://codingbat.com/prob/p182144

In [48]:
# Hi, Bye -> HiByeByeHi

#we are defining names for each words
first_word='Hi'
second_word='Bye'

final_word= first_word + second_word * 2 + first_word
print(final_word)

HiByeByeHi

In [49]:
#using String formatting
print("Result is {}".format(final_word))

Result is HiByeByeHi

In [50]:
#solution 1
"Result is '" + final_word + "'"

"Result is 'HiByeByeHi'"

In [52]:
#solution 2
"Result is '%s'" % (final_word)

"Result is 'HiByeByeHi'"

In [53]:
#solution 3

"Result is {}".format(final_word)

'Result is HiByeByeHi'

In [57]:
# Name, Age, Year -> You will be 100 year 2056
name = 'Python'
age = 25
year = 2016

hundredth_year = (100 - age) + year
notice = "Hello {}, You are {} in {} and You will be 100 on {}"
print(notice.format(name, age, year, hundredth_year))

Hello Python, You are 25 in 2016 and You will be 100 on 2091

In [74]:
notice = "Hello {name}, You are {age} in {year} and You will be 100 on {hundredth}"

In [75]:
notice.format(
    name = 'Ruby',
    age = 23,
    year = 2016,
    hundredth = (100 - 23) + 2016
)

'Hello Ruby, You are 23 in 2016 and You will be 100 on 2093'

In [76]:
age = 7
notice.format(
    name='Go',
    age=23,
    year=2016,
    hundredth= (100 - age) + year
)

'Hello Go, You are 23 in 2016 and You will be 100 on 2109'

String Slicing

In [64]:
address = 'Kathmandu, Nepal'

#first char of the address
print("First Char:", address[0])

#length of address
print("Length:", len(address))

#last char of address
print("Last Char:", address[len(address)-1])

First Char: K
Length: 16
Last Char: l

In [65]:
#last char of address
print("Last Char revised:", address[-1])

Last Char revised: l

address[start:end]

In [66]:
print("first two chars:", address[0:2])

first two chars: Ka

In [67]:
#start index defaults to 0
print("first two chars:", address[:2])

first two chars: Ka

address[start:end:step]

In [19]:
address='Kathmandu'
print("first two chars skipped once:", address[0:4:2])

first two chars skipped once: Kt

In [69]:
print("first two chars backwards:", address[0:4:-1])

first two chars backwards:

In [70]:
print("first four chars backwards:", address[4:0:-1])

first four chars backwards: mhta

In [71]:
print("Whole String:", address[:])

Whole String: Kathmandu, Nepal

In [73]:
print("Whole String backwards:", address[::-1])

Whole String backwards: lapeN ,udnamhtaK

In [32]:
address='Kathmandu'
print("first two chars skipped once:", address[-3:8])

first two chars skipped once: nd

In [33]:
address='Kathmandu'
print("first two chars skipped once:", address[-3:3:-1])

first two chars skipped once: nam

In [38]:
address='Kathmandu'
print("first two chars skipped once:", address[-7:3:-1])

first two chars skipped once: dah